body,
button,
html,
input,
select,
textarea {
    font-family: inherit;
}
body,
html {
    height: 100%;
}
body {
    background: $body-bg;
    margin: 0;
    font-weight: 400;
    line-height: $line-height-base;
    font-size: $font-size-base;
    font-family: $font-family-sans-serif;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 500;
    line-height: 1.6;
}
img {
    max-width: 100%;
    vertical-align: middle;
}
a {
    color: $primary-color;
    text-decoration: none;
    -webkit-transition: none 86ms ease-out;
    transition: none 86ms ease-out;
}
a:focus,
a:hover {
    color: lighten($primary-color, 10%);
}
::-moz-selection {
    background: darken($primary-color, 20%);
    color: #ffffff;
}
::selection {
    background: darken($primary-color, 20%);
    color: #ffffff;
}
textarea {
    resize: none;
}
*,
*::after,
*::before {
    box-sizing: border-box;
}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}
kbd {
    display: inline-block;
    padding: 3px 5px;
    font: 11px Consolas, 'Liberation Mono', Menlo, Courier, monospace;
    line-height: 10px;
    color: #555;
    vertical-align: middle;
    background-color: #fcfcfc;
    border: solid 1px #ccc;
    border-bottom-color: #bbb;
    border-radius: 3px;
    box-shadow: inset 0 -1px 0 #bbb;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-weight: bold;
}
