// colors
$primary-color: #5587d7;
$blue-color: #5587d7;
$red-color: #db6e6e;
$green-color: #78b38a;
$purple-color: #ac7bcd;
$yellow-color: #edb431;
$gray-color: #979797;
$black-color: #000;

// Body
$body-bg: #fff;

// Typography
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.2;
